<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<!-- page content -->
<div class="reset-password">
    <div class="uk-container">
        <% if (errorMessage) { %>
            <p><%= errorMessage %></p>
        <% } %>
        <form action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>

            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>
<%- include('../includes/end.ejs') %>
