<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="cart uk-margin-large-top">
    <div class="uk-container uk-container-small">
        <% if (products.length > 0) { %>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
                    <thead>
                        <tr>
                            <th>Product title</th>
                            <th class="uk-width-small">Quantity</th>
                            <th class="uk-float-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(p => { %>
                            <tr>
                                <td><%= p.productId.title %></td>
                                <td><%= p.quantity %></td>
                                <td class="uk-float-right">
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                        <button class="btn uk-button uk-text-danger uk-button-small" type="submit" uk-tooltip="title: Delete?"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="uk-text-center uk-margin-medium-top">
                <a href="/checkout" class="uk-button uk-button-primary">Order Now!</a>
            </div>
        <% } else { %>
            <div class="js-upload uk-placeholder uk-text-center">
                <p class="uk-text-middle">No Products in Cart!</p>
            </div>
        <% } %>
    </div>
</div>
<%- include('../includes/end.ejs') %>