<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<!-- product list content -->
<div class="product-list uk-margin-large-top">
    <div class="uk-container">
        <h2 class="uk-text-uppercase">Products</h2>
        <div class="products-content">
            <% if (prods.length > 0) { %>   
                <div class="uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card">
                    <% for (let product of prods) { %>
                        <div class="product-item">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="uk-card-body uk-padding-small">
                                    <h3 class="uk-card-title"><%= product.title %></h3>
                                    <div class="uk-card-badge uk-label">$<%= product.price %></div>
                                    <p><%= product.description %></p>
                                </div>
                                <div class="uk-card-footer">
                                    <a href="/products/<%= product._id %>" class="uk-button uk-button-text uk-float-left">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <div class="uk-float-right">
                                            <%- include('../includes/add-to-cart.ejs', {product}) %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="js-upload uk-placeholder uk-text-center">
                    <p class="uk-text-middle">There're no products yet.</p>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>