<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="orders uk-margin-large-top">
    <div class="uk-container uk-container-small">
        <% if (orders.length <= 0) { %>
            <div class="js-upload uk-placeholder uk-text-center">
                <p class="uk-text-middle">Nothing there!</p>
            </div>
        <% } else { %>
            <ul class="uk-list uk-list-large uk-list-divider">
                <% orders.forEach(order => { %>
                    <li class="orders__item">
                        <h4>Order No. <%= order._id %> - <a href="/orders/<%= order._id %>" class="uk-button uk-text-primary">Invoice</a></h4>
                        <ul class="uk-list uk-list-large uk-list-divider">
                            <% order.products.forEach(p => { %>
                                <li><%= p.product.title %> (<%= p.quantity %>)</li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>
<%- include('../includes/end.ejs') %>